<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320910624869-hk63nnpcmd744s400v78q4p50qb0qpha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320910624869-hk63nnpcmd744s400v78q4p50qb0qpha</string>
	<key>API_KEY</key>
	<string>AIzaSyA6OUB6qw9nFpUDzM3qNPfxLDLqp1CVXkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>320910624869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>final-bti-8d297</string>
	<key>STORAGE_BUCKET</key>
	<string>final-bti-8d297.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320910624869:ios:51ab04fb516aaf54089e8c</string>
</dict>
</plist>